# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Asset store packages / generated packages
*.unitypackage

# Others
/*.apk
/*.obb